 @{
     ViewData["Title"] = "Gracias por tu mensaje";
 }

 <div class="text-center align-items-center justify-content-center">
     <div class="card shadow-sm ">
         <div class="card-header">
            <h1>Gracias por ponerte en contacto conmigo</h1>
         </div>
        <div class="card-body">
            <p>Te contestaré el mensaje lo más pronto posible.</p>
            <div>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home"><i class="bi bi-box-arrow-left me-2"></i>Volver</a>
            </div>
        </div>
     </div>
 </div>
