<div class="container py-5">
    <div class="card card-skill shadow-lg p-4">
        <div class="card-body container-fluid">
            <h3 class="card-title mb-4">
                <i class="bi-solid bi-id-badge me-2"></i>Perfil Profesional
            </h3>
            <p>
                Soy desarrollador full stack especializado en .NET con experiencia en el diseño, desarrollo y mantenimiento de sistemas ERP para áreas como finanzas, contabilidad, activos y calidad. Mi enfoque está en construir soluciones escalables, limpias y orientadas al rendimiento, aplicando buenas prácticas de arquitectura y desarrollo ágil.
            </p>

            <h5 class="mt-4 text-primary">
                <i class="bi bi-tools me-2"></i>
                Conocimiento
            </h5>
            <ul class="row">
                <li class="col-md-6"><strong><i class="bi-solid bi-code me-1"></i>Lenguajes:</strong> C#, JavaScript, PHP</li>
                <li class="col-md-6"><strong><i class="bi bi-boxes me-1"></i>Frameworks:</strong> .NET 7/8, EF Core 8, DevExtreme, jQuery</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-database me-1"></i>Bases de datos:</strong> SQL Server, MySQL, MariaDB</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-globe me-1"></i>Web:</strong> Razor Pages, formularios dinámicos, validaciones</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-file-export me-1"></i>Exportaciones:</strong> PDF/Excel con ExcelJS y jsPDF</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-tools me-1"></i>Herramientas:</strong> Visual Studio, Git, SVN, DevExpress</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-diagram-project me-1"></i>Arquitectura:</strong> APIs RESTful, DI, Repositorio Genérico, UoW</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-bolt me-1"></i>Optimización:</strong> LINQ, SQL, controladores async</li>
                <li class="col-md-6"><strong><i class="bi-solid bi-server me-1"></i>Sistemas:</strong> Windows Server, IIS, despliegue</li>
            </ul>

            <h5 class="mt-4 text-primary">
                <i class="bi-solid bi-building me-2"></i>Experiencia
            </h5>
            <h5 class="mt-4 text-primary">
                <i class="bi-solid bi-mortarboard me-2"></i>Proyectos Académicos
            </h5>
            <p>
                <strong>Simulador Didáctico de Resolución de Circuitos con Diodos</strong><br />
                <em>Tesis de Ingeniería en Sistemas Computacionales</em><br />
                <em>Mar 2023 - Nov 2023</em>
            </p>
            <ul class="row">
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Desarrollado en Windows Forms como herramienta educativa para la resolución de circuitos electrónicos con diodos.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Permite explicar paso a paso los procedimientos aplicados en la resolución de problemas y análisis teóricos.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Incluye secciones para teoría, ejemplos de examen y ejercicios interactivos para el aprendizaje autodidacta.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Enfocado en reforzar la comprensión práctica y teórica de los estudiantes en el área de electrónica analógica.</li>
            </ul>
            <p>
                <strong>Net Arquitectura Administrativa</strong><br />
                <em>Ago 2023 - May 2025</em>
            </p>
            <ul class="row">
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Desarrollo y soporte de sistemas ERP para gestión financiera, contable y operativa.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Implementación de formularios dinámicos, validaciones y exportaciones.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Aplicación de patrones como Repositorio Genérico, UoW e Inyección de Dependencias.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Optimización de consultas LINQ y SQL.</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Automatización de guardado (backend/script).</li>
                <li class="col-md-12"><i class="bi-solid bi-check text-success me-1"></i>Despliegue en Windows Server con IIS.</li>
            </ul>
          

            <h5 class="mt-4 text-primary">
                <i class="bi-solid bi-bullseye me-2"></i>Objetivo profesional
            </h5>
            <p>
                Apasionado por la tecnología y el aprendizaje continuo. Busco un entorno que me permita asumir nuevos retos, seguir creciendo profesionalmente y aportar valor mediante soluciones innovadoras, eficientes y bien estructuradas.
            </p>
        </div>
    </div>
</div>
